{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<div class="container my-3 py-3">
    <div class="row mx-1">
        <div class="col-md-6 offset-md-3 mt-5 p-3 text-start answer-bg">
            <h3 class="head-bg">{% trans "Log In" %}</h3>
            {% blocktrans %}
                <p>
                    Do not have an account yet? Please
                    <a class="link" href="{{ signup_url }}">Signup</a>
                    first.
                </p> 
            {% endblocktrans %}
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans "Log In" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}