body {
    background-color: #e3f2fd;
}

button p h1 h2 h3 h4 h5 h6 a{
    font-family: Lato, sans-serif;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
}

.white-o {
    color: #fff;
}

.red-o {
    color: red;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.head-bg {
    background-color: #445261;
    border-radius: 10px;
    color:#fff;
    padding: 0.5rem 0rem;
    text-align: center;
}

.answer-bg {
    background-color: #daebf8;
    border-radius: 15px;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #e3f2fd;
}

.user-login {
    color: yellow;
    font-weight: bold;
    text-transform: uppercase;
}

.card {
    border: 1px;
    background-color: transparent;
}

.answers {
    border: 3px;
    background-color: #e3f2fd;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 70%;
    left: 5px;
    background-color: #e3f2fd;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
}

.title {
    color: #445261;
    margin: 4px;
    text-transform: lowercase;
    text-align: center;
}

.masthead {
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 30vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: #e3f2fd;
    position: relative;
}

.profile-image {
    width: 75%
}

.query-link {
    text-decoration: none;
    color: #445261;
}

.query-link:hover,
.page-link {
    color: #E84610;
}

.query-title {
    margin-top: 10%;
    margin-left: 5%;
}

.query-subtitle {
    margin-left: 5%;
    color: #e3f2fd;
}

.btn-signup,
.btn-edit {
    background-color: #445261;
    color: #fff;
}

.btn-edit:hover,
.btn-edit:active{
    background-color: #445261;
    color: yellow;
}

.btn-signup:hover,
.btn-signup:active{
    background-color: #0d6efd;
    color: #e3f2fd;
}

.btn-category {
    color: #e3f2fd;
    border: none;
    background: #445261;
    margin: 2px;
    text-transform: uppercase;
    text-align: center;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-category:hover,
.btn-category:active {
    color: #e3f2fd;
    background: #0d6efd;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Footer elements */

.footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    bottom: 0;
    color:#fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color:#fff;
}

/* Style each social media icon */
.social-icons i {
    font-size: 24px;
    color: #fff;;
}

/* Style each favicon icon */
.favicon-icons i {
    font-size: 100px;
    color: #445261;
}

.favicon-icons-small {
    font-size: 50px;
    color: #445261;
}




