body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    color: #e32b16;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 70%;
    left: 5px;
    background-color: #e3f2fd;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
}

.title {
    color: 445261;
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 30vh;
    width: 100%;
}

.masthead-text {
    background-color: #E84610;
    color: white;
    position: relative;
}

.profile-image {
    width: 75%
}

.query-link {
    text-decoration: none;
    color: #E84610;
}

.query-link:hover,
.page-link {
    color: darkmagenta;
}

.query-title {
    margin-top: 10%;
    margin-left: 5%;
}

.query-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Footer elements */

.footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Style each social media icon */
.social-icons i {
    font-size: 24px;
    color: #E84610;
}

/* Style each favicon icon */
.favicon-icons i {
    font-size: 100px;
    color: #E84610;
}