{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for category in category_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <a href="{% url 'queries' category.slug %}">
                                    {% if "placeholder" in category.featured_image.url %}
                                        <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                                    {% else %}
                                        <img class="card-img-top" src=" {{ category.featured_image.url }}" alt="{{ category.title }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <h2 class="author query-link">{{ category.title }}</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}
