{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- query.html content starts here -->

<div class="masthead">
    <div class="container">
        <div class="row g-0 mt-5">
            <div class="col-md-12 masthead-text">
                <!-- Category title goes in these h1 tags -->
                <h1 class="query-title"><i class="{{ category.fontawesome_icon }}"></i> {{ category.title }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Displaying count of queries -->
    <div class="row">
        <div class="col-6">
            <strong class="text-secondary">
                <i class="fas fa-bullhorn"></i> {{ queries_count }}
            </strong>
        </div>
        <div class="col-6 text-end">
            <strong class="text-secondary">
                <a href="{% url 'home' %}" class="text-category">           
                    <i class="fas fa-caret-square-left"></i>Home
                </a>
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying answers -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            {% for query in queries %}
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
                  to iterate through each answer in answers -->
                <blockquote class="blockquote mb-0">
                    <a href="{% url 'query_detail' query.slug %}" class="query-link">
                        <p>{{ query.title }}</p>
                    </a>
                    <footer class="blockquote-footer">Asked by
                        <cite title="Source Title">
                            {{ query.author }} ( {{ query.created_on }} )
                        </cite>
                    </footer>
                    <hr>
                </blockquote>
            </div>
            {% endfor %}
        </div>
        <!-- Categories block -->
        <div class="col-md-4 card mb-4 mt-3">
            <h3 class="head-bg">Categories</h3>
            <div class="row row-cols-3 g-2 mb-5">
                {% for category in categories %}
                <div class="col-md-4 my-3 text-center">
                    <a href="{% url 'queries' category.slug %}">           
                        <i class="{{ category.fontawesome_icon }} favicon-icons-small"></i> 
                        <p class="text-category">{{ category.title }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
