{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Query details page  -->

<div class="masthead">
    <div class="container answers">
        <div class="row g-0 mt-2 pe-2">
            <div class="col-md-12 masthead-text">
                <!-- Query title -->
                <h1 class="query-title">{{ query.title }}</h1>
                <!-- Query author and created date -->
                <p class="query-subtitle">{{ query.author }} | {{ query.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container answers">
    <div class="row">
        <div class="col card mb-4 left  top">
            <div class="card-body">
                <!-- The query content goes inside the card-text -->
                <!-- Use the | safe filter inside the template tags -->
                <div class="card-text lead">
                    {{ query.content | safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <strong class="text-secondary">
                <!-- Displaying count of answers -->
                <i class="far fa-comments"></i> {{ answer_count }}
            </strong>
        </div>
        <div class="col-6 text-end">
            <strong class="text-secondary"> 
                <!-- Displaying queries page link with name of queries category -->
                <a href="{% url 'queries' query.category.slug %}" class="text-category">           
                    <i class="fas fa-caret-square-left"></i>{{ query.category }}
                </a>
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <!-- Posting New Answers -->
        <div class="col-md-12 card mb-5 mt-3">
            <div class="card-body my-2">
                <div class="p-3 answer-bg mb-2">
                    <!-- If user is logged in showing write answer box -->
                    {% if user.is_authenticated %}
                    <h5>Write an answer:</h5>
                    <form id="answerForm" method="post" class="" style="margin-top: 1.3em;">
                        {{ answer_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-signup">Submit</button>
                    </form>
                    {% else %}
                    <!-- If user is not logged in the showing login page link -->
                    <p class="text-center">
                        <strong>
                            <a href="{{ login_url }}">Log in</a> to leave an answer.
                        </strong>
                    </p>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="card-body mb-3">
                <!-- A for loop to display all answers -->
                {% for answer in answers %}
                <div class="p-3 answer-bg mb-2 text-end
                    {% if not answer.approved and answer.author == user %}
                        faded
                    {% elif not answer.approved %} 
                        d-none
                    {% endif %}">
                    <div id="answer{{ answer.id }}" class="text-start">
                        {{ answer.content | linebreaks }}
                    </div>
                    <hr>
                    <div class="py-1 px-3 mb-2">
                        <cite title="Source Title">
                            <strong>{{ answer.author }} | {{ answer.created_on }}</strong>
                        </cite>
                    </div>
                    <!-- Displaying message that answer is waiting approval -->
                    {% if not answer.approved and answer.author == user %}
                    <p class="approval">
                        This answer is awaiting approval
                    </p>
                    {% endif %}
                    <!-- Displaying delete and edit button to edit or delete answer -->
                    {% if user.is_authenticated and answer.author == user %}
                        <button class="btn btn-answer-delete" answer_id="{{ answer.id }}">Delete</button>
                        <button class="btn btn-edit" answer_id="{{ answer.id }}">Edit</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Answer?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your Answer?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
    <!-- Javascript file link  -->
    <script src="{% static 'js/helpme.js' %}"></script>
{% endblock %}