{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- query.html content starts here -->

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-12 masthead-text">
                <!-- Category title goes in these h1 tags -->
                <h1 class="query-title">{{ category.title }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Displaying answers -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            {% for query in queries %}
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
                  to iterate through each answer in answers -->
                <blockquote class="blockquote mb-0">
                    <a href="{% url 'query_detail' query.slug %}" class="query-link">
                        <p>{{ query.title }}</p>
                    </a>
                    <footer class="blockquote-footer">Asked by
                        <cite title="Source Title">
                            {{ query.author }} ( {{ query.created_on }} )
                        </cite>
                    </footer>
                    <hr>
                </blockquote>
            </div>
            {% endfor %}
        </div>
        <!-- Posting New Answers -->
        <div class="col-md-4 card mb-4 mt-3">
            <h3>All Categories</h3>
            <div class="container">
                <div class="row g-2">
                    {% for category in categories %}
                    <div class="col-md-4">
                            <a href="{% url 'queries' category.slug %}">
                                <button class="btn btn-edit mb-4 mt-3">
                                    {{ category.title }}
                                </button>
                            </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div><!--
<div class="container">
    <div class="row">
        <!-- Queries Entries Column 
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="row">
                {% for query in queries %}
                <div class="card">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <a href="{% url 'query_detail' query.slug %}" 
                                class="query-link">
                                <p>{{ query.title }}</p>
                            </a>
                            <footer class="blockquote-footer">Asked by 
                                <cite title="Source Title">
                                    {{ query.author }} ( {{ query.created_on }} )
                                </cite>
                            </footer>
                            <hr>
                        </blockquote>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% for category in category_list %}
                <h2 class="author query-link">{{ category.title }}</h2>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>-->

<!-- index.html content ends here -->
{% endblock %}
