{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- query.html content starts here -->

<div class="masthead">
    <div class="container">
        <div class="row g-0 mt-5">
            <div class="col-md-12 masthead-text">
                <!-- Category title goes in these h1 tags -->
                <h1 class="query-title"><i class="{{ category.fontawesome_icon }}"></i> {{ category.title }}</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Displaying count of queries -->
    <div class="row">
        <div class="col-6">
            <strong class="text-secondary">
                <i class="fas fa-bullhorn"></i> {{ queries_count }}
            </strong>
        </div>
        <div class="col-6 text-end">
            <strong class="text-secondary">
                <a href="{% url 'home' %}" class="text-category">           
                    <i class="fas fa-caret-square-left"></i>Home
                </a>
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying answers -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            {% for query in queries %}
            <div class="p-3 answer-bg mb-2 text-end
                {% if not query.status and query.author == user %}
                    faded
                {% elif not query.status %} 
                    d-none
                {% endif %}">
                <a href="{% url 'query_detail' query.slug %}" class="query-link">
                    <div id="query{{ query.id }}" class="text-start">
                        <blockquote class="blockquote mb-0">
                            {{ query.title | linebreaks }}
                        </blockquote>
                    </div>
                </a>
                <hr>
                <div class="py-1 px-3 mb-2">
                    <cite title="Source Title">
                        <strong>{{ query.author }} | {{ query.created_on }}</strong>
                    </cite>
                </div>
                {% if not query.status and query.author == user %}
                <p class="approval">
                    This query is awaiting approval
                </p>
                {% endif %}
                {% if user.is_authenticated and query.author == user %}
                    <button class="btn btn-delete" query_id="{{ query.id }}">Delete</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <!-- Categories block -->
        <div class="col-md-4 card mb-4 mt-3">
            <h3 class="head-bg">Categories</h3>
            <div class="row row-cols-3 g-2 mb-5">
                {% for category in categories %}
                <div class="col-md-4 my-3 text-center">
                    <a href="{% url 'queries' category.slug %}">           
                        <i class="{{ category.fontawesome_icon }} favicon-icons-small"></i> 
                        <p class="text-category">{{ category.title }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Query?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your Query?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
    <script src="{% static 'js/helpme.js' %}"></script>
{% endblock %}
